header {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    min-height:72px;
}

#login-button{
    background-color: white;
    color: #2980B9;
    border: 1px solid #2980B9;
    transition: all 0.3s linear;
}

#login-button:hover{
    background-color: #2980B9;
    color: white;
}

.navbar-brand span{
    font-size: 20px;
    font-weight: bold;
    color: black;
}

#searchInput{
    border-color: #0B5ED7;
}

.internshipCardComponent{
    margin: 50px 0 50px 0!important;
}

.internshipCardComponent .card{
    border: none;
    width: 290px;
    height:310px;
    cursor: pointer;
}

.internshipCardComponent .card h4{
    font-size: 14px;
    font-weight: bold;
}

.internshipCardComponent .card p, .internshipCardComponent .card h6{
    font-size: 12px;
}

footer ul span, header ul span{
    cursor: pointer;
}

#header-link:hover{
    color: #2980B9 !important;
}

.registration-form{
    margin:0 auto;
    padding: 30px;
    border: none;
    border-radius:10px;
    box-shadow:0px 0px 6px 0px rgba(0,0,0,0.15);
    /*background-color: white;*/
}

#submitButton{
    display: flex;
    align-items: center;
    justify-content: center;
}

#submitButton button{
    width: 25%;
}


.login-form-toggler{
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

input[type="text"], input[type="date"], input[type="password"], input[type="email"], input[type="number"], input[type = "tel"]{
    font-size: 13px;
    padding: 7px 13px;
    color: #A0ABB8;
}

textarea{
    font-size: 13px !important;
    padding: 7px 13px !important;
    color: #A0ABB8 !important;

}

textarea:focus{
    border-color: black !important;
    color: black !important;

}

.internshipCardComponent .card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

#internship-card-header{
    background-color: #2980B9;
    color: white;
}

#card-hr, .line-divider{
    border-top: 1px solid #2980B9;
}

.internship-details{  
    border: none;
    padding: 20px;
    border-radius: 20px;
    box-shadow:0px 0px 6px 0px rgba(0,0,0,0.5);
    background-color: transparent !important;
}

.internship-key-details{
    width: 60%;
}

.internship-title-box{
    padding: 18px;
    border: 1px solid #EEEFF1;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(72,72,72,.12), 0 2px 2px rgba(72,72,72,.08);
}

.logo{
    width: 65px;
    height: 65px;
}

.internship-title{
    margin-left: 20px;
    height: auto;
}

.icon{
    width:70px;
    height: 70px;
    border: 1px solid #EEEFF1;
}

.skill-required, .perks-internship{
    padding: 10px !important;
}

.posted-internships-table{
    line-height: 4;
}

@media screen and (max-width: 768px){
    .posted-internships-table{
        line-height: 1.5;
    }
}

@media screen and (max-width: 768px){
    #app-breadcrumb{
        display: none;
    }
}

.modal-header{
    background-color: #0B5ED7;
    color: white;
}

::placeholder{
    font-size: 14px;
    color: #C3C3C3 !important;
}

.internship-listing, #shortlisted-interns-card, #internship-applications-card{
    box-shadow: 0 0 4px rgba(72,72,72,.12), 0 2px 2px rgba(72,72,72,.08);
    border-radius: 10px;
    padding: 20px;
    background-color: transparent !important;
    border: none !important;
    cursor: pointer;
    position: relative !important;
    bottom: 0 !important;
    transition: all 0.3s linear !important;
}
.internship-listing:hover, #shortlisted-interns-card:hover, #internship-applications-card:hover{
    box-shadow: 0 0 10px rgba(72,72,72,.12), 0 4px 8px rgba(72,72,72,.08) !important;
    border: 1px solid #2980B9 !important;
    bottom: 5px !important;
    background-color: white !important;
}

.internship-filters{
    box-shadow: 0 0 4px rgba(72,72,72,.12), 0 2px 2px rgba(72,72,72,.08);
    border-radius: 10px;
    background-color: white;
}

.user-profile{
    box-shadow:0px 0px 6px 0px rgba(0,0,0,0.15);
}

.user-profile a:hover{
    color: #2980B9;
}

.user-profile a:focus{
    color: #2980B9;
}

.btn-primary{
    background-color: #2980B9 !important;
    border-color: #2980B9 !important;
}

.list-group{
    border: 1px solid #EDEDED;
    padding: 30px !important;
    background-color: white;
}

.list-group-item{
    border-color: #EDEDED !important;
    padding: 10px 20px !important;
}

.dropdown-menu{
    margin-top: 20px !important;
    border: none !important;
    box-shadow: 0 0 4px rgba(72,72,72,.12), 0 2px 2px rgba(72,72,72,.08);
    padding: 15px !important;
}

.dropdown-item{
    padding: 10px 20px !important;
}

.dropdown-item:hover{
    color: #2980B9 !important;
}

.dropdown-item:focus{
    background-color: white !important;
}

table thead th{
    border-bottom: 3px solid #EDEDED !important;
}

#saved-internships-card{
    border: 1px solid #EDEDED;
    cursor: pointer;
    background-color: white;
    position: relative;
    bottom: 0;
    transition: box-shadow 0.3s linear, border 0.3s linear, bottom 0.3s linear;
}

#saved-internships-card:hover{
    box-shadow: 0 0 10px rgba(72,72,72,.12), 0 4px 8px rgba(72,72,72,.08);
    border: 1px solid #2980B9;
    bottom: 10px;
}

.remove-saved-internship{
    color: red !important;
    cursor: pointer;
}

.save-internship-icon{
    color: #2980B9 !important;
    cursor: pointer;
}

#sub-header{
    background-image: radial-gradient(#2980B9,#1d6290,#2b4e83);
    color: white;
    padding: 90px 0px;
    text-align: center;
}

#home-internship-card{
    height:auto;
}

#app-breadcrumb{
    background-color: #1d6290;
    color: white;
    padding-top: 11px;
    text-align: center;
}

#app-breadcrumb li{
    color: white;
    width:auto;
}

.link-breadcrumb{
    width: 200px !important; /*160px*/
}

input:focus, select:focus, textarea:focus{
    border-color: #6C757D !important;
    box-shadow: none !important;
}

.resume-image{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
}

.profile-image{
    border-radius: 50% !important;
    width: 100% !important;
    height: 200px !important;
    object-fit: cover !important;
}

#profileImageUpload, #additionalDocuments{
    display: none;
}

#public-profile{
    padding: 70px 0px;
    opacity: 1;
    background-image: radial-gradient(#2980B9,#1d6290,#2b4e83);
    color: white;
}

.public-profile-img img{
    width: 150px;
    height: 100% !important;
    border-radius: 50%;
    object-fit: cover;
}

.download-resume a, .contact-me a{
    cursor: pointer;
    padding: 13px 33px;
    background-color: #1facee;
    border: 1px solid #1facee;
    border-radius: 80px;
    font-size: 18px;
    color: white;
}

.download-resume a:hover{
    background-color: #239cdd;
    border: 1px solid #239cdd;
    color: white;
}

.public-profile-overview, .internship-overview{
    padding: 30px;
    border: 1px solid #EEEFF1;
    border-radius: 10px;
    box-shadow:0px 0px 6px 0px rgba(0,0,0,0.15);
}

.profile-skill{
    padding: 8px;
    border: 1px solid #EEEFF1;
    border-radius: 8px;
    background-color: #489ac0;
    color: white;
    margin: 0 2px;
}

.public-profile-details i, .public-profile-overview i{
    color: #2980B9;
}

.internship-overview i, .internship-overview h3{
    color: #2980B9;
}

.hire-me-section button, .public-profile-overview button, .internship-details button{
    padding: 13px 33px;
    background-color: #2980B9 !important;
    border: 1px solid #2980B9 !important;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    position: relative;
    bottom: 0;
    transition: all 0.3s linear;
}

#save-profile-button{
    background-color: transparent !important;
    color: #2980B9 !important;
    border: 1px solid #2980B9 !important;
}

#save-profile-button:hover{
    background-color: #2980B9 !important;
    color: white !important;
}

.hire-me-section button:hover, .public-profile-overview button:hover, .internship-details button:hover{
    background-color: #265c80 !important;
    border: 1px solid #265c80 !important;
    bottom: 5px;
    color: white;
}

#post-internship-button{
    background-color: transparent !important;
    color: #2980B9 !important;
    border: 1px solid #2980B9 !important;
    transition: all 0.3s linear;
}

#post-internship-button:hover{
    background-color: #2980B9 !important;
    color: white !important;
}

th{
    background-color: #2980B9 !important;
    color: white !important;
}

.shortlist-link{
    color: #2980B9 !important;
    text-decoration: none !important;
}

.app-info-span{
    background-color: #2980B9;
    color: white;
    padding: 2px 5px;
    border-radius: 10px;
    font-size: 12px !important;
}

.chat-section{
    border: 1px solid #EDEDED;
    border-radius: 10px;
    padding: 20px;
    background-color: white;

}

.chat-search-form{
    border: 1px solid #EDEDED;
    border-radius: 10px;
    padding: 20px;
}

.chat-list-body ul{
    padding: 0;
    height: 360px;
    overflow: hidden;
}

.chat-list-item{
    list-style-type: none;
    padding: 16px 10px;
    border-bottom: 1px solid #EDEDED;
    cursor: pointer;
}

.chat-list-link{
    text-decoration: none;
    color: black;
}

.chat-list-link span{
    font-size: 14px;
    color: #2980B9;
}

.chat-message{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.chat-list-heading{
    border-bottom: 1px solid #EDEDED;
}

.chat-list-heading div{
    font-size: 16px;
    font-weight: bold;
    padding: 10px 5px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.chat-list-heading div:hover{
    background-color: #EDEDED;
}

.active-chat-heading{
    border-bottom: 3px solid #2980B9;
}

.chat-board-header{
    padding: 10px 20px;
    background-color: #2980B9;
    color: white;
}

.chat-actions button:hover{
    color: white;
}

.chat-actions button{
    color: white;
    background-color: #2980B9;
    border: 1px solid #2980B9;
    transition: all 0.3s linear;
}

.chat-avatar-img img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.chat-avatar-image img, .chat-img img{
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
    object-fit: cover !important;
}

.chat-board-body{
    background-color: #F3F6F9;
}

.chat-messages-list{
    padding: 20px;
    overflow: auto;
    height: 400px;
}

.chat-messages-list li{
    list-style: outside none none;
    margin-top: 30px;
}

.chat-content{
    padding-left: 15px;
    width: calc(100% - 220px);
}

.chat-text{
    padding: 10px;
    border-radius: 10px;
    background-color: #EDEDED;
}

.chat-time{
    font-size: 11px;
    text-align: right;
    color: #A0ABB8;
}

.chat-content-right{
    text-align: right;
}

.chat-content-right .chat-text{
    background-color: #2980B9;
    color: white;
    text-align: left;
}

.chat-board-footer{
    padding: 10px;
    background-color: white;
    position: relative;
    bottom: 16px;
    border: 1px solid #EDEDED;
}

.additional-documents{
    padding: 10px;
    cursor: pointer;
}

.chat-board-footer input{
    width: 100%;
    border: none !important;
}

.chat-board-footer input:focus{
    border: none !important;
}

.frame-container{
    padding: 10px;
    background-color: #EDEDED;
}

.frame-actions{
    padding: 10px;
    cursor: pointer;
}