header {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    min-height:72px;
}

.navbar-brand span{
    font-size: 20px;
    font-weight: bold;
    color: black;
}

#searchInput{
    border-color: #0B5ED7;
}

.internshipCardComponent{
    margin: 50px 0 !important;
}

.internshipCardComponent .card{
    border: none;
    width: 290px;
    height:310px;
    cursor: pointer;
}

.internshipCardComponent .card h4{
    font-size: 14px;
    font-weight: bold;
}

.internshipCardComponent .card p, .internshipCardComponent .card h6{
    font-size: 12px;
}

footer ul span, header ul span{
    cursor: pointer;
}

#header-link:hover{
    color: black !important;
}

.registration-form{
    margin:30px auto 0px auto;
    padding: 30px;
    border: none;
    border-radius:10px;
    box-shadow:0px 0px 6px 0px rgba(0,0,0,0.15)
}

#submitButton{
    display: flex;
    align-items: center;
    justify-content: center;
}

#submitButton button{
    width: 75%;
}


.login-form-toggler{
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

input[type="text"], input[type="password"], input[type="email"]{
    font-size: 15px;
}