header {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    min-height:72px;
}

.navbar-brand span{
    font-size: 20px;
    font-weight: bold;
    color: black;
}

#searchInput{
    border-color: #0B5ED7;
}

.internshipCardComponent{
    margin: 50px 0 50px 0!important;
}

.internshipCardComponent .card{
    border: none;
    width: 290px;
    height:310px;
    cursor: pointer;
}

.internshipCardComponent .card h4{
    font-size: 14px;
    font-weight: bold;
}

.internshipCardComponent .card p, .internshipCardComponent .card h6{
    font-size: 12px;
}

footer ul span, header ul span{
    cursor: pointer;
}

#header-link:hover{
    color: black !important;
}

.registration-form{
    margin:30px auto 0px auto;
    padding: 30px;
    border: none;
    border-radius:10px;
    box-shadow:0px 0px 6px 0px rgba(0,0,0,0.15)
}

#submitButton{
    display: flex;
    align-items: center;
    justify-content: center;
}

#submitButton button{
    width: 75%;
}


.login-form-toggler{
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

input[type="text"], input[type="password"], input[type="email"]{
    font-size: 15px;
}

.internshipCardComponent .card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.internship-details{  
    border: none;
    padding: 20px;
    border-radius: 20px;
    box-shadow:0px 0px 6px 0px rgba(0,0,0,0.5);
}

.internship-key-details{
    width: 60%;
}

.internship-overview{
    width: 30%;
    padding: 30px;
    border: 1px solid #EEEFF1;
}

.internship-title-box{
    padding: 18px;
    border: 1px solid #EEEFF1;
    height: auto;
}

.logo{
    width: 65px;
    height: 62.5px;
    border: 1px solid #EEEFF1;
}

.internship-title{
    margin-left: 20px;
    height: auto;
}

.icon{
    width:70px;
    height: 70px;
    border: 1px solid #EEEFF1;
}

.skill-required, .perks-internship{
    padding: 10px !important;
}

.posted-internships-table{
    line-height: 4;
}

.modal-header{
    background-color: #0B5ED7;
    color: white;
}

::placeholder{
    font-size: 14px;
    color: #C3C3C3 !important;
}

.internship-listing{
    box-shadow: 0 0 4px rgba(72,72,72,.12), 0 2px 2px rgba(72,72,72,.08);
    border-radius: 10px;
    padding: 20px;
    border: none !important;
    cursor: pointer;
}

.internship-filters{
    box-shadow: 0 0 4px rgba(72,72,72,.12), 0 2px 2px rgba(72,72,72,.08);
    border-radius: 10px;
    background-color: white;
}

.user-profile a:hover{
    color: #2980B9;
}

.user-profile a:focus{
    color: #2980B9;
}

.btn-primary{
    background-color: #2980B9 !important;
    border-color: #2980B9 !important;
}

.list-group{
    border: 1px solid #EDEDED;
    padding: 30px !important;
    background-color: white;
}

.list-group-item{
    border-color: #EDEDED !important;
    padding: 10px 20px !important;
}

.dropdown-menu{
    margin-top: 20px !important;
    border: none !important;
    box-shadow: 0 0 4px rgba(72,72,72,.12), 0 2px 2px rgba(72,72,72,.08);
    padding: 15px !important;
}

.dropdown-item{
    padding: 10px 20px !important;
}

.dropdown-item:hover{
    color: #2980B9 !important;
}

.dropdown-item:focus{
    background-color: white !important;
}

table thead th{
    border-bottom: 3px solid #EDEDED !important;
}