* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: comic sans ms;
}

body{
    background-image: url('../public/background.webp');
    width : 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}